{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<div class="row">
  <div style="float: left;">
    {% if trainer.avatar_url %}
      <img src="{{ trainer.avatar_url }}" class="img-rounded" height="150" width="150">
    {% else %}
      <img src="http://www.gravatar.com/avatar/{{trainer.email | md5}}?s=150&d=mm" class="img-rounded">
    {% endif %}
  </div>
  <div style="float: left; margin-left: 10px;">
    <h2>{{ trainer.name }}</h2>
    <ul class="list-unstyled vcard">
      <li><span class="octicon octicon-location"></span> {{trainer.city}}</li>
      {% if trainer.github %}
        <li>
          <span class="octicon octicon-mark-github"></span>
          <a href="https://github.com/{{trainer.github}}">{{trainer.github}}</a>
        </li>
      {% endif %}    
      {% if trainer.website %}
        <li>
          <span class="octicon octicon-link"></span>
          <a href="{{trainer.website}}">{{trainer.website}}</a>
        </li>
      {% endif %}
      <li>
          <a href="/settings/profile" class="btn btn-primary btn-large">Edit Profile</a>
      </li>
    </ul>   
  </div>
</div>
<div class="row"> 
  <div class="col-md-6 col-sm-12">
    <h3>Upcoming Workshops</h3>
    {{ macros.workshop_list(upcoming_workshops) }}
  </div>
  <div class="col-md-6 col-sm-12">
    <h3>Recent Workshops</h3>
    {{ macros.workshop_list(completed_workshops) }}
  </div>
</div>
{% endblock %}
